$root_bgcolor: #77cafd;
$root_fgcolor_dark: #1f2324;
$root_fgcolor_light: #F1F6F3;
$root_borderradius: 25px;

$root_spacer_1: 1rem;
$root_spacer_2: 2rem;

$color_pink: #f4c4c6;
$color_cyan: #76cbfe;
$color_purple: #d5bef8;
$color_grey: #646A67;
$color_white: #fff;
$color_black: #000;
$color_error: red;
$color_success: green;