@import './abstracts/variables';

@import './base/normalize';
@import './base/fonts';

@import './layout/container';
@import './layout/grid';

@import './components/label';
@import './components/button';
@import './components/image';

@import './pages/login';
@import './pages/groups';
@import './pages/home';

#background_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
  