%ul__styletype__none{
    list-style-type: none;
}
%ul__styletype__square{
    list-style-type: square;
}
%ul__styletype__decimal{
    list-style-type: decimal;
}
%ul__shown{
    display: block;
}
%ul__hidden{
    display: none;
}